@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: #272727;
  letter-spacing: 1px;
}

h1,
h2 {
  font-weight: 400;
}

#container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 0 0 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#page-top {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

#page-top h1,
#page-top p {
  text-align: center;
  margin-top: 1em;
}

#page-top h1 {
  font-size: 2rem;
}

#page-top input,
#add-item input {
  width: 90%;
  max-width: 250px;
  margin: 20px auto;
  display: block;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  border: 1px solid #eee;
  margin-bottom: 2em;
  font-size: 1rem;
  outline: none;
  border-radius: 10px;
}

.hide {
  background-image: linear-gradient(
    to right,
    #232526 0%,
    #414345 51%,
    #232526 100%
  );
}
.hide {
  cursor: pointer;
  margin-bottom: 2em;
  padding: 8px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  border: none;
  display: block;
}

.hide:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#search-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add-item {
  margin: 2em 0;
}

#add-item input {
  max-width: 500px;
  display: inline-block;
  margin-left: 7em;
  margin-right: 1em;
  padding: 11px;
  text-align: center;
}

#grocery-list {
  margin-bottom: 2em;
}

#grocery-list h2 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 2rem;
}

#grocery-list ul {
  list-style: none;
}

#grocery-list ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.item {
  font-size: 1.2rem;
  position: relative;
  display: block;
}

#grocery-list ul li::before {
  content: "";
  position: absolute;
  background-color: #333;
  width: 5em;
  height: 3px;
  left: 8em;
  opacity: 0;
}

#grocery-list ul li:hover::before {
  background-color: #d31027;
  opacity: 1;
}

.delete {
  background-image: linear-gradient(
    to right,
    #d31027 0%,
    #ea384d 51%,
    #d31027 100%
  );
}
.delete {
  cursor: pointer;
  margin: 10px;
  padding: 8px 15px;
  text-align: center;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.delete:hover {
  background: #333;
}

.btn-green {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  );
}
.btn-green {
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  transition: 0.5s;
  border-radius: 50%;
  background-size: 200% auto;
  color: white;
  border: none;
}

.btn-green:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.hidden {
  display: none;
}

#tab-wrapper ul li:hover {
  background: #ea384d;
  color: white;
}

#tab-wrapper li {
  display: inline-block;
  padding: 0.8em 1.3em;
  background: #ddd;
  border-radius: 7px;
  cursor: pointer;
  margin-right: 10px;
}

#tab-wrapper .panel {
  display: none;
  margin: 1em 2em;
  border: 1px solid #ddd;
  padding: 0 1em;
  border-radius: 4px;
}

#tab-wrapper .panel p {
  padding: 1em;
  line-height: 2.5;
}

.heading {
  margin-bottom: 2em;
}

#tab-wrapper .panel.active {
  display: block;
}

#tab-wrapper .selected {
  background: rgb(139, 139, 139);
}

.btn {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  );
}
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 0.8em;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: none;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.show {
  text-align: center;
  color: #333;
  width: 200px;
  background: #00cdac;
  border-radius: 10px;
  color: white;
}

.highlight-text {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 0;
  padding: 0;
  margin: 0;
}
